@{
    ViewBag.Title = "Contact";
}
<h2>Contact Me</h2>
<h3>A Little About Me</h3>

<p>I am beginning my journey of software development by learning Microsoft .Net Framework (C#).</p>

    <a href="https://www.linkedin.com/in/nick-wehner-2018927b/" target="blank1">My LinkedIn</a><br />
    <a href="https://nrwehner.github.io/" target="blank2">My Portfolio</a><br />
    

<a href="mailto:nrwehner@gmail.com">nrwehner@gmail.com</a><br />
