@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    My Address<br />
    Carmel, IN 46032<br />
    <abbr title="Phone">P:</abbr>
    317.903.7214
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:nrwehner@gmail.com">nrwehner@gmail.com</a><br />
</address>