@model LogIt.Models.Home.HomeObject

<div class="welcome">
    <h1>Welcome, @ViewBag.FullName!</h1>
    <p class="lead">Let's get to work on today!</p>
    <p>
        @Model.Today
        @Model.UserId
    </p>
    @*<p>@Html.ActionLink("See Your Recent Progress", "Index", "UserData", null, new { @class = "btn btn-primary btn-large" })</p>*@
</div>
