
@{
    ViewBag.Title = "Learn";
}

<h2>How It Works!</h2>
<p>Start out by just documenting your food in an empty profile for a while until you 
    have a feel for the type of targets you want to aim for</p>
<ul>
    <li>1. Browse The Food Items</li>
    <li>2. Register An Account</li>
    <li>3. Build a Profile or several</li>
    <li>4. Pick one of your profiles and build a day</li>
    <li>5. Add Food Items to your day and plan out your day</li>
</ul>
