body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:lavender;
}
    body div {
        /*background-image: url(../Content/Assets/foodimage.jpg);*/
        color: #337ab7;
    }
hr {
    border-color: #337ab7;
    background-color: #337ab7;
    height: 2px;
}
    #containermine{
        position:relative;
        text-align:center;
        color:white;
    }
    #welcome{
    }
#todayis {
    font-size: large;
    text-align: right;
}
.centeredmine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbarmychanges {
    background-color: #337ab7;
    border: 2px solid #2e6da4;
}
#b-ground-font {
    color: lavender;
}
#lighterfont{
    color:white;
}
#mypadding {
    padding: 4px;
}
#mytableborder {
    border: 5px solid #337ab7;
}
.welcome {
    /*text-align:center;*/
    /*border:2px solid black;*/
    padding: 5px;
}
/*#actionline p{
    text-decoration-style:double;
    font-size:x-large;
}*/
.partiallist{
    text-align:center;
}
.partiallist p{
    text-align: left;
}
.welcome h1{
    text-align:left;
    font-size:xx-large;
    text-decoration-style:double;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
